.eventItem {
  animation-name: slideDown !important;
  animation-duration: 0.2s !important;
  animation-timing-function: linear !important;
}

@keyframes slideDown {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 56px;
    opacity: 1;
  }
}