.detailsHeader {
  align-items: center;
  border-bottom: 1px solid #d5dee6;
  min-height: 72px;
  padding: 0 24px;
}
.detailsHeaderName {
  -webkit-box-flex: 1;
  flex: 1;
  margin-left: 16px;
  /* min-width: 0; */
  /* width: 0; */
}
.detailsHeaderName > h2 {
  /* width: 480px; */
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -.05px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}